# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Keys & Secrets (SENSITIVE)
keys/
.env*

# Node
node_modules/
dist/
build/
.vercel
/orchestrator/frontend/node_modules/
/orchestrator/frontend/dist/
